@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 359 100% 0%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}

.heading-animation {
  position: relative;
}

.heading-animation h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffaf37;
}

.heading-animation h2:nth-child(2) {
  color: #ffd698;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      0% 0%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes spotlight-reverse {
  0% {
    opacity: 0;
    transform: translate(72%, -62%) scaleX(-0.5);
  }
  100% {
    opacity: 1;
    transform: translate(50%, -40%) scaleX(-1);
  }
}
.animate-spotlight-reverse {
  animation: spotlight-reverse 2s ease 0.75s 1 forwards;
}

/* progress bar style  */
.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 100%;
  background-image: linear-gradient(
    to right,
    green,
    turquoise,
    blue,
    purple,
    red
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-infinite .progress-bar3 {
  width: 70%;
  background-image: linear-gradient(
    to right,
    rgb(255, 238, 4),
    rgb(221, 184, 61),
    rgb(207, 134, 25),
    rgb(255, 102, 0),
    rgb(240, 223, 223)
  );
  animation: colorAnimation 1s infinite;
}

@keyframes colorAnimation {
  0% {
    background-image: linear-gradient(
      to right,
      rgb(221, 184, 61),
      rgb(207, 134, 25),
      rgb(255, 102, 0),
      rgb(255, 188, 4),
      rgb(240, 223, 223)
    );
  }
  20% {
    background-image: linear-gradient(
      to right,
      rgb(255, 188, 4),
      rgb(240, 223, 223),
      rgb(221, 184, 61),
      rgb(207, 134, 25),
      rgb(255, 102, 0)
    );
  }
  40% {
    background-image: linear-gradient(
      to right,
      rgb(240, 223, 223),
      rgb(221, 184, 61),
      rgb(255, 188, 4),
      rgb(207, 134, 25),
      rgb(255, 102, 0)
    );
  }
  60% {
    background-image: linear-gradient(
      to right,
      rgb(221, 184, 61),
      rgb(240, 223, 223),
      rgb(207, 134, 25),
      rgb(255, 102, 0),
      rgb(255, 188, 4)
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      rgb(255, 188, 4),
      rgb(221, 184, 61),
      rgb(207, 134, 25),
      rgb(240, 223, 223),
      rgb(255, 102, 0)
    );
  }
}
